@model IEnumerable<DataLayer1.PageGroup>

@{
    ViewBag.Title = "";
}
<h3>صفحه اصلی</h3>

<p>
    <a class="btn btn-success" onclick="CreateGroup()"> افزودن گروه جدید</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GroupTitle)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GroupTitle)
            </td>
            <td>
                <a class="btn btn-sm btn-warning" onclick="editGroup(@item.GroupID) ">
                    ویرایش گروه
                    <i class="glyphicon glyphicon-edit"></i>

                </a>
                <a class="btn btn-sm btn-danger" onclick="deleteGroup(@item.GroupID)">
                    حذف گروه  <i class="glyphicon glyphicon-trash"></i>
                </a>
            </td>
        </tr>
    }

</table>
@*Modal*@
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body" id="myModalBody">

            </div>
        </div>
    </div>
</div>
@*End of Modal*@
@section scripts
{


    <script src="~/Content/js/bootstrap.min.js"></script>

    


  
    <script>
        $(function () {
        $("#link").hide();
        $("#Pagegroups").addClass("active");
        $("#Pages").removeClass("active");
        function CreateGroup() {
            $.get("/Admin/PageGroups/Create", function (result) {
                $("#myModal").modal();
                $("#myModalLabel").html("ایجاد گروه خبری");
                $("#myModalBody").html(result);
            });

        };


        function editGroup(id) {
            $.get("/Admin/PageGroups/Edit/" + id, function (result) {
                $("#myModal").modal();
                $("#myModalLabel").html("ویرایش گروه خبری");
                $("#myModalBody").html(result);
            });
        }


        function deleteGroup(id) {
            $.get("/Admin/PageGroups/Delete/" + id, function (result) {
                $("#myModal").modal();
                $("#myModalLabel").html(" حذف گروه خبری");
                $("#myModalBody").html(result);
            });
        }
    });
    </script>
}

